body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-title {
  padding: 0px 10px;
}

.nav-title {
  padding: 10px 20px !important;
  font-family: "Lobster Two";
}

#post {
  font-family: "Merriweather";
  font-weight: lighter;
  text-align: justify;
}

.post-excerpt-card p {
  color: darkgrey;
}

#post p:first-of-type:first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}

#post h1 {
  font-size: 2rem;
  color: #cb4920;
}

#post h2 {
  font-size: 1.7rem;
  color: #e89c43;
}

#me-img {
  shape-outside: circle(50%);
  float: left;
  padding: 20px;
}

#main {
  flex: 1 0 auto;
}

.MathJax_Display {
  overflow-y: hidden;
  overflow-x: auto;
}
