<footer class="page-footer orange">
	<div class="container">
		<h5 class="white-text">Contact me</h5>
		<ul>
			<li><i class="material-icons left">mail</i><a class="grey-text text-lighten-3" href="mailto:eriktpol@gmail.com">email</a></li>
			<li><i class="material-icons left">notes</i><a class="grey-text text-lighten-3" href="https://github.com/erikpolzin">github</a></li>
		</ul>
	</div>
	<div class="footer-copyright orange darken-1">
		<div class="container">
		© 2018 #NoCopyright
		<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>
