<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
		<!-- Compiled and minified CSS Materialize -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript Materialize -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">MysterE</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/photography">Photography</a></li>
				</ul>
			</div>
		</nav>
		
	</div>
	<body>
			
		<div class="container" id="main">
			{{ content }}
		</div><!-- /.container -->
            
	</body>
	<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="mailto:eriktpol@gmail.com">email</a></li>
							<li><a class="grey-text text-lighten-3" href="https://github.com/erikpolzin">github</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
				© 2018 #NoCopyright
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
				</div>
			</div>
		</footer>
</html>
