<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="theme-color" content="#ef6c00">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- Compiled and minified CSS Materialize -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript Materialize -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>

		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Lobster+Two|Merriweather:n,l" rel="stylesheet">
	</head>

	<div class="navbar-fixed">
		{% include navbar.html %}
	</div>

	<ul class="sidenav" id="mobile-demo">
		{% include sidebar.html %}
  </ul>

	<body>
		<div class="container" id="main">
      <div id="post">
			  {{ content }}
      </div id="post-categories">
	      {% for cat in page.categories %}
	        <div class="chip">
	          {{ cat }}
	        </div>
	      {% endfor %}
			</div>
		</div><!-- /.container -->
	</body>

	{% include footer.html %}
</html>
